<style>
	body {
		font-family: "Montserrat", sans-serif;
		margin: 0;
	}

	nav {
		background-color: #333;
		color: white;
		padding: 20px 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 24px;
		font-weight: normal;
		width: 95%;
		position: fixed;
		top: 0;
		font-family: "Montserrat", sans-serif;
	}

	nav a {
		color: white;
		margin-right: 20px;
		text-decoration: none;
		font-size: 23px;
	}

	button {
		background: none;
		border: 2px solid #aaa;
		border-radius: 30px;
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 5px;
		margin: 0;
		font-size: 18px;
	}

	button span {
		font-size: 16px;
		color: gray;
		margin: 0 8px;
	}

	#dropdown {
		display: none;
		position: absolute;
		top: 60px;
		right: 20px;
		background-color: #444;
		width: 160px;
		z-index: 2;
		margin-top: 10px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		padding-top: 8px;
	}

	#dropdown div,
	#dropdown a {
		color: white;
		padding: 8px 16px;
		display: block;
		border-bottom: 1px solid #666;
		cursor: pointer;
		font-size: 18px;
	}

	.buttons {
		display: flex;
		align-items: center;
	}
</style>

<nav>
	<div>
		<a href="/blog">Blogify</a>
	</div>

	<div class="buttons">
		<a href="/addBlog">Add Blog</a>
		<button
			onclick="toggleDropdown()"
			onmouseover="buttonHover(true)"
			onmouseout="buttonHover(false)"
		>
			<div
				style="
					width: 30px;
					height: 30px;
					border-radius: 50%;
					background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjZottpXdWFHM3FdqTmIeDwHL9CW78YEgZMA8TWVMslKJRYlQoejLxCP_wNSflLumtE_A&usqp=CAU');
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				"
			></div>
			<span
				><% if (locals.user) { %> <%= locals.user.name %> <% } else {
				%> USER <% } %></span
			>
		</button>
		<div id="dropdown">
			<% if (locals.user) { %>
			<div
				onmouseover="dropdownItemHover(this, true)"
				onmouseout="dropdownItemHover(this, false)"
			>
				YOUR BLOGS
			</div>
			<% } %>
			<a
				href="<%= locals.user ? '/logout' : '/login' %>"
				onmouseover="dropdownItemHover(this, true)"
				onmouseout="dropdownItemHover(this, false)"
				><%= locals.user ? 'LOGOUT' : 'LOGIN' %></a
			>
			<a
				href="/feedback"
				onmouseover="dropdownItemHover(this, true)"
				onmouseout="dropdownItemHover(this, false)"
				>FEEDBACK</a
			>
		</div>
	</div>
</nav>

<script>
	function toggleDropdown() {
		var dropdown = document.getElementById("dropdown");
		dropdown.style.display =
			dropdown.style.display === "none" ? "block" : "none";
	}

	function dropdownItemHover(item, isHover) {
		item.style.backgroundColor = isHover ? "#555" : "#444";
	}
</script>
